/*
input[type="search"]{
    width: 100%;
    border: 1px solid rgb(220,220,220);
    line-height: 2em;
    text-indent: 5px;
}
*/
.contentWrapper{
    width: 95%;
    margin: 0 auto;
    min-height: 300px;
    border: none !important;
}
.tab-pane{
    min-height: 300px;
    border: 1px solid rgb(220, 220, 220);
    border-top: none;
    padding: 2em;
}
.userTabWrapper{

}
.userList{
    max-height: 30em;
    overflow-y: auto;
    border: 1px solid rgb(220, 220, 220);
}
.userListItem{
    border: none;
    border-top: 1px solid rgb(220, 220, 220);
}
.userListItem:first-child{
    border-top: none;
    padding-top: 1em;
}
.userListItem:last-child{
    padding-bottom: 1em;
}
.userListItem .theOne{
    margin-right: 5px;
}
.userAvatarThumb{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}
.userAvatarThumbContainer>span{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}