include includes/head
div.jumbotron
    div.container#mainFace
        div.fullLogo
        h1 ACW Automação e Sistemas
        p
            | Soluções modernas e eficientes para o
            u seu
            |  negócio.
